<section>
  <h3>Why does this exist?</h3>
  <p>After Cimoooooooo's progression series launched, my brother and I decided to try it ourselves. We like using automated simulators like EDOPro rather than Dueling Book.</p>
  <p><em>However</em>, we found it difficult to manage our collections after opening several sets because we'd have just so much. I created this tool so we would know exactly how much of each card we could use when deck building.</p>
  
  <h3>How can I help development?</h3>
  <p>While I feel like this is feature complete right now, if you want to add something or run into a bug, join me on <a href="https://github.com/about-programmer/Progression-Ban-List-Creator">GitHub</a>.</p>
  
  <h3>Credit</h3>
  <p><a href="https://www.youtube.com/playlist?list=PLpAqSYsFkgvtUCh4QPaXyMOJot3bPUiN9">Watch the original Progression Series by Cimoooooooo and Nyhmnim</a></p>
  <p><a href="https://www.youtube.com/playlist?list=PLMr2265yrWMx5DCQ-e3FX6qKxfGWv1JPH">Watch the Progression Playoff by MBT and his friends</a></p>
  <p><a href="https://db.ygoprodeck.com/pack-open/">YGOPRODeck's pack opener and collection</a></p>
  <p><a href="https://discord.gg/ygopro-percy">EDOPro's Discord and download link</a></p>
</section>
